:root {
    --bg-color: #151515;
    --box-color: #312e45;
    --font-color: #FFFFFF;
    --color-icon-plus: #FFFFFF;
    --empty-block: #FFFFFF;
    --floating-menu-color: #0ddba0;
}

html, body {
    margin: 0;
    padding: 0.3rem;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--bg-color);
}

.header, .sidebar, .content, .footer, .hero, .menu-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--box-color);
    color: var(--font-color);

    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.26); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.26);

    border-radius: 1rem;
    user-select: none;
}

.container-basic {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: calc(20vh - 1rem - 0.3rem * 2) calc(70vh - 1rem - 0.3rem) calc(10vh - 0.3rem);
    grid-template-areas: "h h" "s c" "f f";
    gap: 1rem;
}

.header {
    grid-area: h;
}

.sidebar {
    grid-area: s;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}

.menu {
    user-select: none;

    position: fixed;

    display: block;
    visibility: hidden;

    transition: visibility 0.1s, opacity 0.2s linear;
    opacity: 0;
    bottom: calc(1rem + 4rem);
    right: 1rem;

    color: var(--font-color);
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu il {
    background-color: var(--floating-menu-color);
    text-align: right;
    padding: 0.3rem 0.6rem 0.3rem 1rem;
    border-radius: 0.23rem;

    text-shadow: 1px 0.5px 1px rgba(0,0,0,0.26);
    cursor: pointer;
}

.floating {
    cursor: pointer;
    background-color: var(--floating-menu-color);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.floating img {
    height: 1.3rem;
    width: 1.3rem;
    transition: 0.2s transform linear;
    user-select: none;
}